body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(15, 15, 15);
}
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:20%;
    background-color: #3f3e3e;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    margin-left: 5%;
    border-radius: 5px;
}

.form h1 {
    text-align: center;
}

.form label {
    margin-bottom: 5px; /* Reduce space between label and input */
}

.form input,
.form select,
.form button {
    margin-bottom: 10px; /* Reduce space between form elements */
    width: 90%;
    padding: 8px; /* Adjust padding for input elements */
    box-sizing: border-box;
    border-radius: 5px;
    border: transparent;
    outline: none;
}

.form button {
    margin-top: 10px; /* Add some space above the button */
    background-color: rgb(43, 43, 238);
    color: white;
    cursor: pointer;
}

.form-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:30%;
    height: 65%;
    background-color: rgb(70, 65, 65);
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    border-radius: 5px;
}
